:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --section-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function), visibility 250ms var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}

.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  transition: background-color 250ms var(--time-function);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.filter {
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 9px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--section-background-color);
  border: transparent;
  border-radius: 4px;
  transition: box-shadow 250ms var(--time-function), background-color 250ms var(--time-function), color 250ms var(--time-function);
}
.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.join {
  margin-top: 60px;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.join .soc-list {
  margin-top: 20px;
}

.join .soc-list__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function);
}
.join .soc-list__link:hover, .join .soc-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__left-part {
  color: var(--accent-color);
}

.modal {
  padding: 40px;
  width: 450px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--main-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--time-function);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--accent-color);
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--second-text-color);
}

.modal__icon-area {
  position: relative;
}

.modal__form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms var(--time-function);
}

.modal__input:hover + .modal__form-icon,
.modal__input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__comment-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--time-function);
}
.modal__comment:hover, .modal__comment:focus {
  border: 1px solid var(--accent-color);
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
  transition: font-size 250ms var(--time-function);
}

.modal__comment:hover::placeholder,
.modal__comment:focus::placeholder {
  font-size: 14px;
}

.modal__check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 12px;
}

.modal__check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), border 250ms var(--time-function);
}

.modal__check-input:checked + .modal__check-icon {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

.modal__check-text {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__check-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal__check-link {
  color: var(--accent-color);
}

.modal .button {
  display: block;
  margin: 0 auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.section-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.soc-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-list__item:last-child {
  margin-right: 0;
}

.soc-list__link {
  color: #afb1b8;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.soc-list__icon {
  fill: currentColor;
}

.subscribe {
  margin-top: 60px;
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe__title {
  max-width: 358px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .subscribe__title {
    display: block;
  }
}

.subscribe__email {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark-background-color);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms var(--time-function);
}
.subscribe__email:hover, .subscribe__email:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe .button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .subscribe .button {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header .logo {
  color: #000000;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.menu-button {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 20;
}
.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--time-function);
}
.menu-button.is-open {
  z-index: 10;
}
.menu-button .icon-menu-close {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu-close {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-header {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .menu-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 1;
  }
  .menu-header.is-open {
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-header {
    display: flex;
  }
}

.nav {
  display: flex;
}

.nav__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    gap: 50px;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item {
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin-bottom: 0;
  }
}

.nav__link {
  color: var(--title-text-color);
  transition: color 250ms var(--time-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link.current {
    position: relative;
  }
  .nav__link.current:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
}

.contacts__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    margin: 0;
  }
}

.contacts__tel {
  transition: color 250ms var(--time-function);
}
.contacts__tel:focus, .contacts__tel:hover {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .contacts__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 12px;
    line-height: 1.16;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__tel {
    font-size: 14px;
  }
}

.contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms var(--time-function);
}
.contacts__mail:focus, .contacts__mail:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__mail {
    font-size: 14px;
  }
}

.contacts__smartphone-icon,
.contacts__mail-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .contacts__smartphone-icon,
.contacts__mail-icon {
    display: none;
  }
}

.mobile__list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .mobile__list {
    display: none;
  }
}

.mobile__item + .mobile__item {
  position: relative;
  transition: color 250ms var(--time-function);
}
.mobile__item + .mobile__item::before {
  content: "";
  position: absolute;
  left: -10px;
  display: block;
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile__item + .mobile__item:hover, .mobile__item + .mobile__item:focus {
  color: var(--accent-color);
}

.mobile__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero .container {
  text-align: center;
}

.hero h1 {
  margin-right: auto;
  margin-left: auto;
}

.hero {
  margin: 0 auto;
  height: 400px;
  padding: 118px 0;
  border-color: var(--dark-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-mob-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-desk-2x.jpg);
  }
}

.hero__headline {
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__headline {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-list__benefits-illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
    padding-top: 0;
  }
}

.about .section-list__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.about-box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-box__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team .section-list__item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--section-background-color);
}

.team-member {
  padding-bottom: 24px;
}

.team__image {
  margin-bottom: 30px;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
}

.team-member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--time-function), border-color 250ms var(--time-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list .section-list__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-list .section-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list .section-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    text-align: left;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.footer-contacts__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__adress {
  color: var(--white-text-color);
  transition: color 250ms var(--time-function);
}
.footer-contacts__adress:hover, .footer-contacts__adress:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-contacts__adress {
    margin: 0;
  }
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--time-function);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  border-bottom: 1px solid #eeeeee;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms var(--time-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfoplio__description {
  padding: 20px 24px;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  padding: 77px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--time-function);
}
.portfolio__link:hover .portfolio__overlay-text, .portfolio__link:focus .portfolio__overlay-text {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .portfolio__overlay-text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__overlay-text {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */