.filter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.filter__item:not(:last-child) {
	margin-right: 9px;
}

.filter__button {
	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	background-color: var(--section-background-color);
	border: transparent;
	border-radius: 4px;
	transition: box-shadow 250ms var(--time-function), background-color 250ms var(--time-function),
		color 250ms var(--time-function);
	&:hover,
	&:focus {
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		color: var(--white-text-color);
		background-color: var(--accent-color);
	}
}
