.modal {
	padding: 40px;
	width: 450px;
	height: 581px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: var(--main-background-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include desktop {
		width: 528px;
	}
}

.modal__close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-background-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
}

.modal__title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	@include desktop {
		line-height: 1.15;
	}
}

.modal__input {
	padding: 12px 12px 12px 42px;
	width: 100%;
	height: 40px;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms var(--time-function);
	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
	}
}

.modal__label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.modal__label-text {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.16;
	color: var(--second-text-color);
}

.modal__icon-area {
	position: relative;
}

.modal__form-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	fill: #212121;
	transition: fill 250ms var(--time-function);
}

.modal__input:hover + .modal__form-icon,
.modal__input:focus + .modal__form-icon {
	fill: var(--accent-color);
}

.modal__comment-area {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.modal__comment {
	padding: 12px 16px;
	width: 448px;
	height: 120px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
	transition: border 250ms var(--time-function);
	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
	}
}

.modal__comment::placeholder {
	font-size: 12px;
	line-height: 1.17;
	color: rgba(117, 117, 117, 0.5);
	transition: font-size 250ms var(--time-function);
}

.modal__comment:hover::placeholder,
.modal__comment:focus::placeholder {
	font-size: 14px;
}

.modal__check {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding-left: 12px;
}

.modal__check-icon {
	width: 16px;
	height: 15px;
	border: 2px solid var(--main-text-color);
	border-radius: 2px;
	fill: transparent;
	transition: background-color 250ms var(--time-function), color 250ms var(--time-function),
		border 250ms var(--time-function);
}

.modal__check-input:checked + .modal__check-icon {
	background-color: var(--accent-color);
	fill: #ffffff;
	border: none;
}

.modal__check-text {
	margin-left: 7px;
	font-size: 12px;
	line-height: 1.16;
	color: var(--second-text-color);
	@include desktop {
		font-size: 14px;
		line-height: 1.7;
	}
}

.modal__check-link {
	color: var(--accent-color);
}

.modal .button {
	display: block;
	margin: 0 auto;
}
