.section-list__benefits-illustration {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 120px;
	background-color: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;
}

