.footer {
	background-color: var(--dark-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.footer .container {
	// display: flex;
}

.footer .logo {
	display: inline-block;
	margin-bottom: 20px;
	color: var(--white-text-color);
}

.footer-contacts__item {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	&:not(:last-child) {
		margin-bottom: 9px;
	}
}


.footer-contacts__adress {
	color: var(--white-text-color);
	transition: color 250ms var(--time-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-contacts__link {
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms var(--time-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}